{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/page.js' %}"></script>
{% endblock %}

{% block body %}
    <div class='container w-75'>
        {% if showinput %}
            <div id="compose-view">
                <h3>New Post</h3>
                <span id='mymessages'></span>
                <form id="compose-form">
                    <div class="form-group">
                        <input disabled class="form-control" value="@{{ request.user.username }}">
                    </div>
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <button id="post_tweet" type="button" class="btn btn-primary">Post Tweet</button>
                </form>
            </div>
        {% endif %}
        
        {% if showprofile %}
            <div id="profile-view">
                <h3 id="profile_title">
                    {{ profile.user }}
                </h3>
                <div id="profile_content">
                    <div>
                        {{ profile.description }}
                    </div>
                    <div>
                        Following {{ profile.follows | length }} user{{ profile.follows|length|pluralize }};
                        followed by {{ profile.isfollowedby | length }} user{{ profile.isfollowedby|length|pluralize }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div id="tweets-view">
            <h3 id="tweets_title">{{ listname }}</h3>
            <div id="tweets_content">
                {% if tweetlist|length == 0 %}
                    <i>No posts to display</i>
                {% else %}
                    {% for tweet in tweetlist %}
                        <div class='card' id='card{{ forloop.counter0 }}'>
                            <div class='card-header'>
                                @{{ tweet.sender }}
                            </div>
                            <div class='card-body'>
                                <div class='card-title'>
                                    <div class='card-text'>
                                        {{ tweet.body }}
                                    </div>
                                    {% if tweet.sender == request.user.username %}
                                        <a id='edit{{ forloop.counter0 }}' href='javascript:void(0)'>Edit your post</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class='card-footer'>
                                <table class='table table-sm table-borderless'>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{ tweet.likecount }} 
                                                {% if tweet.likecount == 1 %}
                                                    Like
                                                {% else %}
                                                    Likes
                                                {% endif %}
                                                <i id='heart{{ forloop.counter0 }}' class="fa-solid fa-heart"></i>
                                            </td>
                                            <td id='rj'>
                                                {{ tweet.timestamp }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
