.card {
    border: 3px solid blue;
    margin: 1px;
}

/* #post_tweet {
    margin: 5px;
}

#confirmedit {
    margin: 5px;
} */

button {
    margin: 5px;
}

#rj {
    text-align:right;
}

#profile-view {
    text-align: center;
    border: 2px solid black;
    background-color: rgb(84, 177, 243);
    margin:2 px;
}

.card-header {
    cursor:pointer;
    color: blue;
}